<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.SongListMapper" >
  <resultMap id="BaseResultMap" type="com.airlab.musicplayer.model.musicinfo.SongList" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="song_list_name" property="songListName" jdbcType="VARCHAR" />
    <result column="song_list_desc" property="songListDesc" jdbcType="VARCHAR" />
    <result column="cover_resource_id" property="coverResourceId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, song_list_name, song_list_desc, cover_resource_id, create_time, update_time, 
    status
  </sql>
  
  <select id="querySongBySongListId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select a.* from song a, (select t.song_id as song_id from song_list_mapping t 
    where song_list_id = #{songListId,jdbcType=BIGINT}) b where a.id = b.song_id
  </select>
  
  <select id="querySongListByNameAndDesc" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from song_list where 1=1
      <if test="songListName != null" >
        and  song_list_name = #{songListName,jdbcType=VARCHAR}
      </if>
      <if test="songListDesc != null" >
        and  song_list_desc = #{songListDesc,jdbcType=VARCHAR}
      </if>
  </select>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from song_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from song_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.airlab.musicplayer.model.musicinfo.SongList" useGeneratedKeys="true" keyProperty="id">
    insert into song_list (user_id, song_list_name, 
      song_list_desc, cover_resource_id, create_time, 
      update_time, status)
    values (#{userId,jdbcType=BIGINT}, #{songListName,jdbcType=VARCHAR}, 
      #{songListDesc,jdbcType=VARCHAR}, #{coverResourceId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateById" parameterType="com.airlab.musicplayer.model.musicinfo.SongList" >
    update song_list
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="songListName != null" >
        song_list_name = #{songListName,jdbcType=VARCHAR},
      </if>
      <if test="songListDesc != null" >
        song_list_desc = #{songListDesc,jdbcType=VARCHAR},
      </if>
      <if test="coverResourceId != null" >
        cover_resource_id = #{coverResourceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>